/* UserInfo */

.card {
  background-color: whitesmoke !important;
  margin: 0 auto;
  min-height: 32rem;
  padding: 1vw;
  width: 20rem;
}

/* SearchUser */

.navbar {
  margin-bottom: 20px;
}

.input-group {
  margin-left: 2vw;
}

.form-control {
  margin-right: 10px;
}

@media only screen and (max-width: 425px) {
  .btn-search-custom {
    position: absolute;
    right: 8vw;
  }

  .form-control {
    width: 52vw !important;
  }
}

/* NotFound */

.notfound-img {
  height: 42vmin;
  margin-bottom: 20px;
  pointer-events: none;
}
